@charset "UTF-8";
body, div, form, input, textarea, select, option, ul,
ol, li, dt, dd, p, pre, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

img {
  border: none;
}

input {
  outline: none;
  border: none;
}

::placeholder {
  color: #999999;
}

body {
  font-family: helvetica, arial, verdana, tahoma, sans-serif;
  font-size: 16px;
  background-color: #fcfcfc;
  color: #333;
}

a {
  text-decoration: none;
}

/**.clearfix {visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height: 0;}**/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

header {
  height: 100px;
  background: #131830;
}
nav{
	width: 100%;
	height: 100px;
	background:#131830;
}

.navWidth {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  line-height: 100px;
  position: relative;
}

.logoImg {
  float: left;
  display: block;
  width: 300px;
  height: 100px;
  background: url(../img/global/logo.png) no-repeat center;
}

.logoImg a {
  display: block;
  float: left;
  width: 300px;
  height: 100px;
}

.changeImg {
  float: right;
  width: 90px;
  height: 100px;
  background: url(../img/nav/Chinese.png) no-repeat center;
  margin-left: 20px;
}

header a {
  font-size: 16px;
  color: #75849C;
  margin-right: 2%;
}

header a:hover {
  color: #FFFFFF;
}

header .currentPage {
  color: #FFFFFF;
}

.navHeight {
  text-align: right;
  float: right;
  width: 780px;
}

.navHeight span {
  color: #FFFFFF;
  font-size: 14px;
}

.navHeight .exitBtn {
  color: #2D73EF;
}

.navBtn {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.msgImg {
  background: url(../img/nav/btn-msg-normal.png) no-repeat center;
}

.msgImgNew {
  background: url(../img/nav/btn-msg-new.png) no-repeat center;
}

.menu {
  background: url(../img/nav/btn-nav-normal.png) no-repeat center;
}

.subNav {
  position: absolute;
  width: 200px;
  height: 220px;
  top: 80px;
  right: 0;
  display: none;
}

.subNav li {
  height: 44px;
  background: #182445;
  font-size: 16px;
  color: #75849C;
  text-align: left;
  padding-left: 30px;
  line-height: 44px;
  border-bottom: 1px solid #29345A;
}

.subNav li:hover {
  background: #375893;
  color: #FFFFFF;
}

/*主背景*/
.mainBg {
  width: 100%;
  background: url(../img/common/bg-main.png) no-repeat top center #161f3e;
  background-size: 100%;
  padding: 0.1px;
}

.subMainBox {
  margin: 40px auto;
  width: 1100px;
}

/*关闭按钮样式*/
.closeBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  right: 15px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #182445;
  border-radius: 4px;
}

.closeBtn img {
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

/*买入卖出分享样式*/
.smallCommonBg {
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: -5px;
  width: 124px;
  height: 72px;
  background: url(../img/common/sharebg.png) no-repeat center;
  background-size: 124px 72px;
  line-height: 60px;
  text-align: center;
}

.option-h5 {
  display: none;
}

/*导航*/
header.channel {
  background: url(../img/channel/bg-nav-channel.png) top center #131830;
}

/*折叠菜单展开按钮*/
.show {
  background: url(../img/nav/btn-nav-hover.png) no-repeat center;
}

.list-content, .buy-content {
  padding-top: 40px;
  position: relative;
  background: #161b39 url(../img/common/bg-main.png) no-repeat top center;
  background-size: 100%;
}

/*底部样式*/
.footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #202A39;
  font-size: 12px;
  color: #FFFFFF;
}

/*导航*/
header.channel {
  background: url(../img/channel/bg-nav-channel.png) top center #131830;
}

/*折叠菜单展开按钮*/
.show {
  background: url(../img/nav/btn-nav-hover.png) no-repeat center;
}

.list-content, .buy-content {
  padding-top: 40px;
  position: relative;
  background: #161b39 url(../img/common/bg-main.png) no-repeat top center;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 0.28rem;
  }
  header {
    height: 1rem;
    padding: 0 0.2rem;
  }
  .navWidth {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    line-height: 1rem;
    position: relative;
  }
  .logoImg {
    float: left;
    display: block;
    width: 2.6rem;
    height: 100%;
    background: url(../img/global/logo.png) no-repeat left center/100% auto;
  }
  .logoImg a {
    width: 100%;
    height: 100%;
  }
  .changeImg {
    display: none;
  }
  .navHeight {
    display: none;
  }
  .option-h5 {
    display: flex;
    float: right;
    width: 2.5rem;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .option-h5 img {
    width: 0.4rem;
  }
  .option-h5 .menu {
    margin-left: 0.38rem;
  }
  .option-h5 .menu span {
    display: block;
    width: 0.4rem;
    height: 2px;
    background-color: #fff;
  }
  .option-h5 .menu span:nth-child(2) {
    margin: 5px 0;
  }
  .h5-slide {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: left 0.2s linear;
  }
  .h5-slide.active {
    left: 0;
  }
  .h5-slide .slide-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 6.3rem;
    height: 100%;
    background-color: #131830;
    color: #fff;
  }
  .h5-slide .slide-box .select-box .select-item {
    padding: 0 0.4rem;
    height: 1rem;
    border-bottom: 1px solid #1d2451;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .h5-slide .slide-box .select-box .select-item.active {
    background-color: #1d2451;
    color: #00bdf5;
  }
  .h5-slide .slide-box .select-box .select-item img {
    width: 0.16rem;
  }
  .h5-slide .slide-box .exit {
    padding: 0 0.4rem;
    height: 1rem;
    border-top: 4px solid #1d2451;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  }
  .h5-slide .slide-box .exit div {
    height: 100%;
    line-height: 1rem;
  }
  .h5-slide .slide-box .exit div span {
    color: #2d73ef;
  }
  /*底部样式*/
  .footer {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #202A39;
    font-size: 12px;
    color: #FFFFFF;
  }
  /*导航*/
  header.channel {
    background: url(../img/channel/bg-nav-channel.png) top center #131830;
  }
  /*折叠菜单展开按钮*/
  .show {
    background: url(../img/nav/btn-nav-hover.png) no-repeat center;
  }
  .footer {
    display: none;
  }
  .list-content {
    padding-top: 0;
  }
}
