.h-center {
  display: flex;
  align-items: center;
}

.v-center {
  display: flex;
  justify-content: center;
}

section {
  height: 1605px;
  position: relative;
  background: #161b39 url(../img/common/bg-main.png) no-repeat top center;
}

section .content-wrap {
  width: 1088px;
  margin: 0 auto;
}

section .content-wrap .btns-wrap {
  padding-top: 40px;
}

section .content-wrap .btns-wrap a {
  font-size: 0;
}

section .content-wrap .btns-wrap .buy, section .content-wrap .btns-wrap .sell {
  width: 520px;
  height: 70px;
}

section .content-wrap .btns-wrap .buy {
  background: url(..img/page3/sell_btn.png) no-repeat top left/100%;
}

section .content-wrap .btns-wrap .sell {
  float: right;
}

section .content-wrap .list {
  margin-top: 52px;
}

section .content-wrap .list .list-item {
  width: 520px;
  height: 518px;
  float: left;
  margin-bottom: 68px;
}

section .content-wrap .list .list-item:nth-child(2n) {
  margin-left: 48px;
}

section .content-wrap .list .list-item .item-top {
  height: 76px;
  background-color: #3744aa;
  color: #fff;
  text-align: center;
  line-height: 76px;
  font-size: 22px;
}

section .content-wrap .list .list-item .item-top img {
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

section .content-wrap .list .list-item .item-bottom {
  box-sizing: border-box;
  height: 442px;
  background-color: #283176;
  color: #fff;
  font-size: 14px;
}

section .content-wrap .list .list-item .item-bottom .bottom-item {
  background-color: #20285e;
  height: 140px;
  padding: 10px 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}

section .content-wrap .list .list-item .item-bottom .bottom-item:last-child {
  margin: 0;
}

section .content-wrap .list .list-item-buy-sell .item-bottom {
  padding: 0 20px;
  overflow-y: scroll;
}

section .content-wrap .list .list-item-buy-sell .item-bottom .bottom-item .item-left {
  width: 80px;
  height: 100%;
  float: left;
}

section .content-wrap .list .list-item-buy-sell .item-bottom .bottom-item .item-left .left-title {
  margin-top: 20px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-right: 1px solid #3744aa;
}

section .content-wrap .list .list-item-buy-sell .item-bottom .bottom-item .item-right-box .right-item {
  padding-left: 100px;
  height: 40px;
  line-height: 40px;
}

section .content-wrap .list .list-item-buy-sell .item-bottom .bottom-item .item-right-box .right-top span span {
  color: #05e0e2;
}

section .content-wrap .list .list-item-buy-sell .item-bottom .bottom-item .item-right-box .right-top img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  float: right;
  vertical-align: middle;
}

section .content-wrap .list .list-item-buy-sell .item-bottom .bottom-item .item-right-box .right-bottom {
  color: #05e0e2;
}

section .content-wrap .list .list-item-buy-sell .item-bottom .bottom-item .item-right-box .right-bottom span {
  margin-right: 40px;
}

section .content-wrap .list .list-item-release-history .item-bottom {
  background-color: #283176;
}

section .content-wrap .list .list-item-release-history .item-bottom .tab-navs {
  border-bottom: 1px solid #20285e;
  height: 40px;
}

section .content-wrap .list .list-item-release-history .item-bottom .tab-navs .tab {
  float: left;
  width: 100px;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

section .content-wrap .list .list-item-release-history .item-bottom .tab-navs .tab1 {
  margin-left: 36px;
}

section .content-wrap .list .list-item-release-history .item-bottom .tab-navs .tab3, section .content-wrap .list .list-item-release-history .item-bottom .tab-navs .tab4 {
  width: 90px;
}

section .content-wrap .list .list-item-release-history .item-bottom .tab-navs .tab5 {
  width: 96px;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box {
  height: 401px;
  overflow-y: scroll;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item {
  height: 60px;
  border-bottom: 1px solid #20285e;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item img {
  float: left;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-top: 18px;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item div {
  height: 100%;
  float: left;
  padding-top: 11px;
  box-sizing: border-box;
  text-align: right;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item div span {
  display: block;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item .goal {
  width: 80px;
  color: #05e0e2;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item .goal span:last-child {
  margin-top: 5px;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item .order-total-price {
  width: 98px;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item .order-total-price span:last-child {
  margin-top: 5px;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item .price {
  width: 90px;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item .service-price {
  width: 90px;
  color: #05e0e2;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item .service-price span:last-child {
  margin-top: 5px;
}

section .content-wrap .list .list-item-release-history .item-bottom .release-box .release-item .state {
  width: 98px;
}

section .content-wrap .list .list-item-receive-history .item-bottom {
  background-color: #283176;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-navs {
  border-bottom: 1px solid #20285e;
  height: 40px;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-navs .receive-tab {
  float: left;
  width: 200px;
  height: 100%;
  line-height: 40px;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-navs .receive-tab1 {
  text-align: right;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-navs .receive-tab2 {
  width: 170px;
  text-align: center;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-navs .receive-tab3 {
  width: 150px;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-box {
  height: 401px;
  overflow-y: scroll;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-box .receive-item {
  height: 40px;
  border-bottom: 1px solid #20285e;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-box .receive-item img {
  float: left;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-top: 8px;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-box .receive-item div {
  float: left;
  height: 100%;
  line-height: 40px;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-box .receive-item .receive-order-price {
  width: 165px;
  text-align: right;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-box .receive-item .receive-price {
  text-align: right;
  width: 105px;
}

section .content-wrap .list .list-item-receive-history .item-bottom .receive-box .receive-item .receive-time {
  width: 120px;
  margin-left: 65px;
  color: #05e0e2;
}
