 @import "_index.scss";

.list-content {
    height:1605px;
    // overflow: hidden; 
    .content-wrap{
        width: 1088px;
        margin:0 auto;
        .btns-wrap{
            overflow: hidden;
            .buy,.sell{
                font-size:0;
                display: block;
                width: 520px;
                height: 70px;
                float: left;
            }
            .buy{
                background:url(../img/page3/buy_btn.png) no-repeat top left/100% auto; 
            }
            .sell{
                float: right;
                background:url(../img/page3/sell_btn.png) no-repeat top left/100% auto;
                // margin-left:47px;
            }
        }
        .list{
            margin-top:52px;
            overflow: hidden;
            .list-item{
                width: 520px;
                height: 518px;
                float: left;
                margin-bottom:68px;
                &:nth-child(2n){
                    margin-left:48px;
                }
                .item-top{
                    height: 76px;
                    background-color:#3744aa; 
                    color:#fff;
                    text-align: center;
                    line-height: 76px;
                    font-size:22px;
                    img{
                        width: 45px;
                        height: 45px;
                        vertical-align: middle;
                    }
                }
                .item-bottom{
                    box-sizing: border-box;
                    height: 442px;
                    background-color: #283176;
                    
                    color:#fff;
                    font-size:14px;
                    .bottom-item{
                        background-color: #20285e;
                        height: 140px;
                        padding:10px 0;
                        box-sizing: border-box;
                        margin-bottom: 10px;
                        &:last-child{
                            margin:0;
                        }
                    }
                }
            }
            .list-item-buy-sell{               
                .item-bottom{
                    padding:0 20px;
                    overflow-y: scroll;
                    .bottom-item{ 
                        .item-left{
                            width: 80px;
                            height: 100%;
                            float: left;
                            .left-title{
                                margin-top:20px;
                                height: 80px;
                                text-align: center;
                                line-height: 80px;
                                border-right:1px solid #3744aa;
                            }
                        }
                        .item-right-box{
                            .right-item{
                                padding-left: 100px;
                                height: 40px;
                                line-height: 40px;  
                            }
                            .right-top{
                                span{
                                    span{
                                        color:#05e0e2;
                                    }
                                }
                                img{
                                    margin-right:10px;
                                    width: 40px;
                                    height: 40px;
                                    float:right;
                                    vertical-align: middle;
                                }
                            }
                            .right-bottom{
                                color:#05e0e2;
                                span{
                                    margin-right:40px;
                                }
                            }
                        }
                    }
                }
            }
            .list-item-release-history{
                .item-bottom{
                    background-color: #283176;
                    .tab-navs{
                        border-bottom:1px solid #20285e;
                        height: 40px;
                        .tab{
                            float: left;
                            width: 100px;
                            height: 100%;
                            line-height: 40px;
                            text-align: center;
                        }
                        .tab1{
                            margin-left:36px;
                        }
                        .tab3,.tab4{
                            width: 90px;
                        }
                        .tab5{
                            width: 96px;
                        }
                    }
                    .release-box{
                        height: 401px;
                        overflow-y: scroll;
                        .release-item{
                            height: 60px;
                            border-bottom:1px solid #20285e;
                            img{
                                float: left;
                                vertical-align: middle;
                                width: 24px;
                                height: 24px;
                                margin-left:12px;
                                margin-top:18px;
                            }
                            div{
                                height: 100%;
                                float: left;
                                padding-top:11px;
                                box-sizing: border-box;
                                text-align: right;
                                span{
                                    display: block;
                                }
                            }
                            .goal{
                                width: 80px;
                                color:#05e0e2;
                                span:last-child{
                                    margin-top:5px;
                                }
                            }
                            .order-total-price{
                                width: 98px;
                                span:last-child{
                                    margin-top:5px;
                                }
                            }
                            .price{
                                width: 90px;
                            }
                            .service-price{
                                width: 90px;
                                color:#05e0e2;
                                span:last-child{
                                    margin-top:5px;
                                }
                            }
                            .state{
                                width: 98px;
                            }
                        }
                    }
                }  
            }
            .list-item-receive-history{
                .item-bottom{
                    background-color: #283176;
                    .receive-navs{
                        border-bottom:1px solid #20285e;
                        height: 40px;
                        .receive-tab{
                            float: left;
                            width: 200px;
                            height: 100%;
                            line-height: 40px;   
                        }
                        .receive-tab1{
                            text-align: right;
                        }
                        .receive-tab2{
                            width:170px;
                            text-align: center;
                        }
                        .receive-tab3{
                            width: 150px;
                        }
                    }
                    .receive-box{
                        height: 401px;
                        overflow-y: scroll;
                        .receive-item{
                            height: 40px;
                            border-bottom:1px solid #20285e;
                            img{
                                float: left;
                                vertical-align: middle;
                                width: 24px;
                                height: 24px;
                                margin-left:12px;
                                margin-top:8px;
                            }
                            div{
                                float: left;
                                height: 100%;
                                line-height: 40px;
                            }
                            .receive-order-price{
                                width: 165px;
                                text-align: right;
                            }
                            .receive-price{
                                text-align: right;
                                width: 105px;
                            }
                            .receive-time{
                                width: 120px;
                                margin-left:65px;
                                color:#05e0e2;
                            }
                        }
                        
                    }
                }
            }
        }
    }  
} 

@media screen and (max-width:480px){
    .navWidth{
        display: none;
    }
    .footer{
        display: none;
    }
    .list-content{
        height: auto;
        padding:0 0.35rem;
        .content-wrap{
            width: 100%;
            .btns-wrap{
                .buy,.sell{
                    width: 50%;
                    height: 0.9rem;
                } 
                .buy{
                    background-image: url(../img/page3/buy_btn_h5.png);
                }
                .sell{
                    background-image: url(../img/page3/sell_btn_h5.png);
                }
            }
            .list{
                margin-top:0.4rem;
                .list-item{
                    height: 6.5rem;
                    width: 100%;
                    margin-bottom:0.55rem;
                    &:nth-child(2n){
                        margin-left:0;
                    }
                    .item-top{
                        height: 1rem;
                        line-height: 1rem;
                        font-size:0.3rem;
                        img{
                            width: 0.56rem;
                            height: 0.56rem;
                        }
                    }
                    .item-bottom{
                        height: 5.5rem;
                        font-size:0.28rem;
                        .bottom-item{
                            padding:0.12rem 0;
                            height: 1.74rem;
                        }
                    }
                }
                .list-item-buy-sell{               
                    .item-bottom{
                        padding:0 0.35rem;
                        .bottom-item{ 
                            .item-left{
                                width: 1.1rem;
                                height: 100%;
                                float: left;
                                .left-title{
                                    margin-top:0.12rem;
                                    height: 1.26rem;
                                    text-align: center;
                                    line-height: 1.26rem;
                                    border-right:1px solid #3744aa;
                                }
                            }
                            .item-right-box{
                                .right-item{
                                    padding-left: 1.3rem;
                                    height: 0.5rem;
                                    line-height: 0.5rem;  
                                }
                                .right-top{
                                    span{
                                        span{
                                            color:#05e0e2;
                                        }
                                    }
                                    img{
                                        margin-right:0.12rem;
                                        width: 0.5rem;
                                        height: 0.5rem;
                                    }
                                }
                                .right-bottom{
                                    span{
                                        margin-right:0.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .list-item-release-history{
                    .item-bottom{
                        background-color: #283176;
                        .tab-navs{
                            border-bottom:1px solid #20285e;
                            height: 0.54rem;
                            .tab{
                                float: left;
                                width: 1.28rem;
                                height: 100%;
                                line-height: 0.55rem;
                                text-align: center;
                            }
                            .tab1{
                                margin-left:0.46rem;
                            }
                            .tab3,.tab4{
                                width: 1.2rem;
                            }
                        }
                        .release-box{
                            height: 4.95rem;
                            .release-item{
                                height: 0.8rem;
                                img{
                                    float: left;
                                    vertical-align: middle;
                                    width: 0.4rem;
                                    height: 0.4rem;
                                    margin-left:0.18rem;
                                    margin-top:0.2rem;
                                }
                                div{
                                    padding-top:0.1rem;
                                }
                                .goal{
                                    width: 1.1rem;
                                    color:#05e0e2;
                                    span:last-child{
                                        margin-top:0;
                                    }
                                }
                                .order-total-price{
                                    width: 1.3rem;
                                    span:last-child{
                                        margin-top:0;
                                    }
                                }
                                .price{
                                    width: 1.1rem;
                                }
                                .service-price{
                                    width: 1.14rem;
                                    color:#05e0e2;
                                    span:last-child{
                                        margin-top:0;
                                    }
                                }
                                .state{
                                    width: 1.36rem;
                                }
                            }
                        }
                    }  
                }
                .list-item-receive-history{
                    .item-bottom{
                        .receive-navs{
                            height: 0.54rem;
                            .receive-tab{
                                float: left;
                                width: 2.08rem;
                                height: 100%;
                                line-height: 0.55rem;  
                            }
                            .receive-tab1{
                                text-align: right;
                                margin-left: 0.45rem;
                            }
                            .receive-tab2{
                                // width:170px;
                                text-align: center;
                            }
                            .receive-tab3{
                                // width: 150px;
                            }
                        }
                        .receive-box{
                            height: 4.95rem;
                            overflow-y: scroll;
                            .receive-item{
                                height: 0.8rem;
                                border-bottom:1px solid #20285e;
                                img{
                                    float: left;
                                    vertical-align: middle;
                                    width: 0.4rem;
                                    height: 0.4rem;
                                    margin-left:0.18rem;
                                    margin-top:0.2rem;
                                }
                                div{
                                    float: left;
                                    height: 100%;
                                    line-height: 40px;
                                    text-align: right;
                                }
                                .receive-order-price{
                                    width: 1.96rem;
                                    text-align: right;
                                }
                                .receive-price{
                                    text-align: right;
                                    width: 1.5rem;
                                }
                                .receive-time{
                                    width: 2.25rem;
                                    margin-left:0;
                                    color:#05e0e2;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }    
}